{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Update Record</h1>
    <br/>
    <!-- Form for updating record -->
    <form method="POST">
        {% csrf_token %}
        <!-- Render form fields -->
        {{ form.as_p }}
        <br/>
        <!-- Submit button for updating record -->
        <button type="submit" class="btn btn-secondary">Update Record</button>
        <!-- Link to navigate back to the home page -->
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
</div>
{% endblock %}
